:root {
  --color-primary: #0D155E;
  --color-secondary: #2A3AD2;
  --color-opposite: #C24E00;
  --color-text-main: #4B4B4B;
  --color-text-secondary: #7F7F7F;
  --color-border: rgba(205, 205, 205, 0.7)
}