:host {
  display: block;
  width: 100%;
}

header {
  width: 100%;
}

#theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.header-extra-content {
  gap: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.custom-button-header ::ng-deep button {
  border-color: #C24E00FF;
  color: #C24E00FF;
}

.custom-button-header ::ng-deep button:hover {
  border-color: white;
  color: white;
  background-color: #e35f00;
}
