:host {
  display: block;
  width: 100%;
}

header {
  width: 100%;
}

.custom-button-header ::ng-deep button {
  border-color: #C24E00FF;
  color: #C24E00FF;
}

.custom-button-header ::ng-deep button:hover {
  border-color: #e35f00;
  color: #e35f00;
}